@import '../../skin/styles/shared';

$header-vars: (
  bg: rgba($base-dove-color, 0.7),
);

.headerClass {
  position: relative;
  display: flex;
  flex-direction: column;
}

.heroClass {
  position: relative;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.descriptionClass {
  position: relative;
  z-index: 1;
  background-color: map-get-strict($header-vars, 'bg');
  display: flex;
  align-items: center;
  padding: 50px 0;

  @include media(tablet up) {
    padding: 150px 0;
  };
}

.backgroundClass {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
