@import '../../skin/styles/shared';

$video-vars: (
  text-color: $base-white-color,
  font-family: $secondary-font-family,
);


.videoElementClass {
  padding: 0;
  margin: 0;
  display: block;
}

.videoClass {
  display: block;
  width: 100%;
}