
{
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "extends": ["plugin:react/recommended", "@infinumjs"],
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "globals": {
		"window": true,
		"document": true
	},
  "plugins": ["react"],
  "rules": {
    "indent": ["error", 2, {
      "ignoredNodes": ["TemplateLiteral"]
    }],
    "arrow-body-style": 0,
    "react/prop-types": 0,
    "react/jsx-uses-vars": [2],
    "no-console": 0
  }
}