
{
  "settings": {
    "react": {
      "version": "16.9.0"
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "extends": ["airbnb", "@infinumjs"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "globals": {
		"window": true,
		"document": true
	},
  "plugins": ["react"],
  "rules": {
    "indent": ["error", 2, {
      "ignoredNodes": ["TemplateLiteral"]
    }],
    "arrow-body-style": 0,
    "react/prop-types": 0,
    "react/jsx-uses-vars": [2],
    "no-console": 0,
    "react/sort-comp": 0,
    "no-useless-escape": 1,
    "max-len": [1, 151],
    "react/jsx-filename-extension": 0,
    "no-unused-vars": [1],
    "import/prefer-default-export": 1,
    "import/no-extraneous-dependencies": 1,
    "import/no-unresolved": 1,
    "jsx-a11y/label-has-for": 1,
    "jsx-a11y/anchor-is-valid": 1,
    "react/jsx-props-no-spreading": 0,
    "react/no-danger": 0
  }
}