.lottieElement {
  height: 100%;
  pointer-events: none;
  text-align: center;
  flex: 1;
  display: flex;

  div {
    flex: 1;
    height: auto !important; /* stylelint-disable-line declaration-no-important */
  }

  svg {
    width: auto !important; /* stylelint-disable-line declaration-no-important */
    max-height: 70vh;
  }
}