@import '../../skin/styles/shared';

$card-vars: (
  sizes: (
    mobile: (
      font-size: 16px,
      line-height: 1.25,
    ),
    tablet: (
      font-size: 22px,
    ),
  ),
);

.cardClass {
  width: 100%;
  cursor: pointer;
  padding: 0;
}

.cardIimageClass {
  width: 100%;
  padding-bottom: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cardITitleClass {
  @include responsive($card-vars, 'sizes');
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}