/*
Some default variables are defined in eightshift-frontend-libs as defaults.
If you want to override it just define it with new value here.

All variables are available here:
https://github.com/infinum/eightshift-frontend-libs/blob/develop/scss/_core.scss
*/

$media-breakpoints: (
  mobile: 0 767,
  tablet: 768 991,
  desktop: 992
);

//Base
$base-font-family: 'Open Sans', Arial, sans-serif;
$secondary-font-family: 'Open Sans Condensed', Arial, sans-serif;
$base-icons-font-family: 'portfolio';

// Container
$base-container-size: 1024px;
$base-gutter-size: 24px;

$typography-map-default: (
  mobile: (
    huge: (
      size: 36px,
      line-height: 1.25,
    ),
    big: (
      size: 36px,
      line-height: 1.25,
    ),
    larger: (
      size: 32px,
      line-height: 1.25,
    ),
    large: (
      size: 24px,
      line-height: 1.5,
    ),
    default: (
      size: 18px,
      line-height: 1.5,
    ),
  ),
  tablet: (
    huge: (
      size: 96px,
      line-height: 1.25,
    ),
    big: (
      size: 48px,
      line-height: 1.25,
    ),
    larger: (
      size: 32px,
      line-height: 1.25,
    ),
    large: (
      size: 24px,
      line-height: 1.5,
    ),
    default: (
      size: 18px,
      line-height: 1.5,
    ),
  ),
);

