/*
Some default variables are defined in eightshift-frontend-libs as defaults.
If you want to override it just define it with new value here.

All variables are available here:
https://github.com/infinum/eightshift-frontend-libs/blob/develop/scss/_core.scss
*/

$media-breakpoints: (
  mobile: 0 767,
  tablet: 768 991,
  desktop: 992 1199,
  large: 1200
);

//Base
$base-font-family: 'Open Sans', Arial, sans-serif;
$secondary-font-family: 'Open Sans Condensed', Arial, sans-serif;
$base-icons-font-family: 'portfolio';

// Container
$base-container-size: 1250px;
$base-gutter-size: 24px;

$base-col-number: 12;

$container-map: (
  default: 1330px,
  medium: 1110px,
);

$typography-map-default: (
  mobile: (
    big: (
      size: 36px,
      line-height: 1.25,
    ),
    larger: (
      size: 36px,
      line-height: 1.25,
    ),
    large: (
      size: 24px,
      line-height: 1.5,
    ),
    default: (
      size: 18px,
      line-height: 1.5,
    ),
    medium: (
      size: 12px,
      line-height: 1.86,
    ),
    small: (
      size: 12px,
      line-height: 2.25,
    ),
  ),
  tablet: (
    big: (
      size: 48px,
      line-height: 1.25,
    ),
    larger: (
      size: 36px,
      line-height: 1.25,
    ),
    large: (
      size: 24px,
      line-height: 1.5,
    ),
    default: (
      size: 18px,
      line-height: 1.5,
    ),
    medium: (
      size: 14px,
      line-height: 1.86,
    ),
    small: (
      size: 12px,
      line-height: 2.25,
    ),
  ),
);

$link-map: (
  link: $base-primary-color,
);
