@import '../../../skin//styles//shared';

.cardContainerClass {
  display: flex;
  flex-wrap: wrap;

  @include media(mobile up) {
    margin: 0 -10px;
  }
}

.cardItemClass {
  width: 100%;

  @include media(mobile up) {
    width: 50%;
    padding: 10px;
  }
  @include media(tablet up) {
    width: 30%;
    min-width: 200px;
  }
}