@import '../../skin/styles/shared';

$desc-vars: (
  outline-color: $base-white-color,
  color: $base-white-color,
  sizes: (
    mobile: (
      font-size: 18px,
      line-height: 1.25,
    ),
    tablet: (
      font-size: 24px,
    ),
  )
);

.descriptionClass {
  @include responsive($desc-vars, 'sizes');
  color: map-get-strict($desc-vars, 'color');

  a {
    display: inline-block;
    padding: 0 5px;
    color: map-get-strict($desc-vars, 'color');
    text-decoration: none;
    background-color: var(--accent-color);
    transition: opacity 0.3s ease;

    &:focus {
      outline: 1px solid map-get-strict($desc-vars, 'outline-color');
    }

    &:hover {
      opacity: 0.9;
    }

  }
}
