// Create grid widths modifiers.
@mixin container() {
  margin: 0 auto;
  width: 100%;
  padding-left: $base-gutter-size;
  padding-right: $base-gutter-size;
  max-width: $base-container-size;
}
// Create grid widths modifiers.
@mixin container-width() {
  max-width: $base-container-size;
}

